@font-face {
  font-family: "Gilroy-Bold";
  src: url(https://d1unjqcospf8gs.cloudfront.net/assets/Gilroy-Bold-76f01426d347c0a032cb7669f76f457dfe153f125b58f0ab76a71693796c6918.woff);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  min-height: calc(100% - 77px);
  position: relative;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h3 {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.6px;
  color: #212529;
  text-align: center;
  margin-bottom: 40px;
}

.clear {
  clear: both;
}

.hide {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx) {
  .home-chatting,
  .home-checkin,
  .home-notification,
  .home-share,
  .home-temperature,
  .home-thanks,
  .home-logo,
  .home-icon-add:hover,
  .home-icon-add,
  .home-icon-quotation {
    background: url(https://d1unjqcospf8gs.cloudfront.net/assets/home/base/icon-set@2x-f3a71226a57dc10686a03d9336d94ae48731c6400f91d585711e3cb0ea553c78.png)
      no-repeat;
    background-size: 230px 1417px;
  }

  #header-top #header-title-wrap #header-image {
    background-image: url(https://d1unjqcospf8gs.cloudfront.net/assets/home/base/phone@2x-9611a35b152568b8a6c1deaff4b665668e3350c62382eccfaf496e974cef5d50.png);
  }
}

::-moz-placeholder {
  color: #868e96;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #868e96;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #868e96;
  opacity: 1;
}

::placeholder {
  color: #868e96;
  opacity: 1;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
}

section,
article,
aside,
footer,
header,
nav,
hgroup {
  display: block;
}

a {
  -webkit-tap-highlight-color: rgba(73, 80, 87, 0.05);
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  position: relative;
  color: #212529;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  min-height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.home-main-section {
  padding: 6rem 0;
}

.home-main-section .home-main-content {
  width: 1024px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-main-section .home-main-title {
  font-size: 4rem;
  line-height: 1.35;
  margin-bottom: 2.4rem;
}

.home-main-section .home-buttons {
  margin-top: 3.2rem;
}

.home-main-section .home-buttons .home-button {
  background-color: #f1f3f5;
  color: #212529;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  padding: 1.45rem 2.6rem;
  display: inline-block;
}

.home-main-section .home-buttons .home-button:hover {
  background-color: #e9ecef;
}

.home-main-section .home-main-image {
  display: inline-block;
}

.home-main-section .home-main-image-01 {
  background-size: 532px 684px;
  width: 532px;
  height: 684px;
}

.home-main-section .home-main-image-02 {
  background-size: 546px 740px;
  width: 546px;
  height: 740px;
}

.home-main-section .home-main-image-03 {
  background-size: 526px 735px;
  width: 526px;
  height: 700px;
}

.home-main-section .home-main-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.home-main-section .home-hot-title {
  margin-bottom: 8rem;
}

.home-main-section .home-hot-content {
  width: 1024px;
  margin: 6rem auto 12rem auto;
}

.home-main-section .home-hot-content #hot-articles-more {
  cursor: pointer;
  text-decoration: underline;
}

.home-main-section .home-story-list {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.home-main-section .home-story-list .home-story-list-item {
  margin-right: 4rem;
  margin-left: 0;
  max-width: 14rem;
}

.home-main-section .home-story-list .home-story-list-item:last-child {
  margin-right: 0;
}

.home-main-section .home-story-list .icon-story {
  width: 56px;
  height: 56px;
  background-size: 56px 56px;
}

.home-main-section .home-story-list .icon-story-01 {
  background-image: url(https://d1unjqcospf8gs.cloudfront.net/assets/home/main/icon-story-1-9226479b836cdc960291ffda91ace46c90a632f6cc868aa8983b3624e662a924.svg);
}

.home-main-section .home-story-list .icon-story-02 {
  background-image: url(https://d1unjqcospf8gs.cloudfront.net/assets/home/main/icon-story-2-208bb88cad31e335b40bc8ac5b7684dcf8a36d77ac50770a497a9c967a3bfc4f.svg);
}

.home-main-section .home-story-list .icon-story-03 {
  background-image: url(https://d1unjqcospf8gs.cloudfront.net/assets/home/main/icon-story-3-0a14d64c6101a7271655747d8401b9f71506578f8a4c0640608074e977bbc7c0.svg);
}

#home-main-section-top {
  padding-top: 24px;
  background-color: #fbf7f2;
}

#home-main-section-top #home-main-top {
  width: 1024px;
  height: 700px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  background-color: #fbf7f2;
}

#home-main-section-top .home-main-title {
  font-size: 4.8rem;
  line-height: 1.3;
  padding-top: 27rem;
  margin-bottom: 3.2rem;
  letter-spacing: -0.4px;
}

#home-main-section-top .home-main-image-top {
  position: absolute;
  right: -84px;
  bottom: 0;
  width: 804px;
  height: 685px;
  background-color: #fbf7f2;
  background-repeat: no-repeat;
  background-size: 804px 685px;
}

.home-keywords-content {
  width: 1024px;
  margin: 4rem auto;
  text-align: center;
}

.home-keywords-content .home-main-title {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}

.home-keywords-content .top-keywords-list {
  display: inline-block;
  list-style-type: none;
  vertical-align: middle;
  margin-left: 4rem;
}

.home-keywords-content .top-keywords-list .keyword-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3.2rem;
}

.home-keywords-content .top-keywords-list .keyword-item .keyword-link {
  text-decoration: none;
  color: #212529;
}

.home-keywords-content .top-keywords-list .keyword-item:last-child {
  margin-right: 0;
}

.home-keywords-content .top-keywords-list .keyword-item:hover {
  text-decoration: underline;
}

.fb_hidden {
  position: absolute;
  top: -10000px;
  z-index: 10001;
}

.fb_reposition {
  overflow: hidden;
  position: relative;
}

.fb_invisible {
  display: none;
}

.fb_reset {
  background: none;
  border: 0;
  border-spacing: 0;
  color: #000;
  cursor: auto;
  direction: ltr;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  margin: 0;
  overflow: visible;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  visibility: visible;
  white-space: normal;
  word-spacing: normal;
}

.fb_reset > div {
  overflow: hidden;
}

@keyframes fb_transform {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fb_mpn_landing_page_slide_out {
  0% {
    margin: 0 12px;
    width: 100% - 24px;
  }

  60% {
    border-radius: 18px;
  }

  100% {
    border-radius: 50%;
    margin: 0 24px;
    width: 60px;
  }
}

@keyframes fb_mpn_landing_page_slide_out_from_left {
  0% {
    left: 12px;
    width: 100% - 24px;
  }

  60% {
    border-radius: 18px;
  }

  100% {
    border-radius: 50%;
    left: 12px;
    width: 60px;
  }
}

@keyframes fb_mpn_landing_page_slide_up {
  0% {
    bottom: 0;
    opacity: 0;
  }

  100% {
    bottom: 24px;
    opacity: 1;
  }
}

@keyframes fb_mpn_bounce_in {
  0% {
    opacity: 0.5;
    top: 100%;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes fb_mpn_fade_out {
  0% {
    bottom: 30px;
    opacity: 1;
  }

  100% {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fb_mpn_bounce_out {
  0% {
    opacity: 1;
    top: 0;
  }

  100% {
    opacity: 0.5;
    top: 100%;
  }
}

@keyframes fb_bounce_in_v2 {
  0% {
    opacity: 0;
    transform: scale(0, 0);
    transform-origin: bottom right;
  }

  50% {
    transform: scale(1.03, 1.03);
    transform-origin: bottom right;
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
    transform-origin: bottom right;
  }
}

@keyframes fb_bounce_in_from_left {
  0% {
    opacity: 0;
    transform: scale(0, 0);
    transform-origin: bottom left;
  }

  50% {
    transform: scale(1.03, 1.03);
    transform-origin: bottom left;
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
    transform-origin: bottom left;
  }
}

@keyframes fb_bounce_out_v2 {
  0% {
    opacity: 1;
    transform: scale(1, 1);
    transform-origin: bottom right;
  }

  100% {
    opacity: 0;
    transform: scale(0, 0);
    transform-origin: bottom right;
  }
}

@keyframes fb_bounce_out_from_left {
  0% {
    opacity: 1;
    transform: scale(1, 1);
    transform-origin: bottom left;
  }

  100% {
    opacity: 0;
    transform: scale(0, 0);
    transform-origin: bottom left;
  }
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0.1;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromBottomDelay {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  97% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
