.comm_main {
  display: flex;
  justify-content: center;
  height: auto;
  margin-bottom: 5%;
}

.btns_container {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-top: 1%;
}

.btns {
  display: flex;
  flex-direction: column;
  height: 180px;
  width: 33%;
  justify-content: space-between;
}

.btn {
  background-color: #ffb02e;
  border: none;
  height: 50px;
  border-radius: 25px;
  font-weight: 900;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  color: white;
}

.btn:hover {
  background-color: white;
  color: #ffb02e;
  cursor: pointer;
}

.posts_container {
  display: flex;
  flex: 2;
  height: fit-content;
  padding: 0 2%;
  justify-content: flex-start;
}

.posts {
  background-color: white;
  width: 70%;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 1% 1%;
  box-sizing: border-box;
}

.posts ul {
  padding-inline-start: 0;
  margin: 3%;
}

.posts li {
  list-style: none;
  padding-bottom: 2%;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  padding-left: 3%;
  margin-bottom: 3%;
  cursor: pointer;
}

.post span:nth-child(2) {
  font-size: small;
  opacity: 0.5;
  margin-right: 1%;
}

.post span:nth-child(3):hover {
  color: #996b20;
}

.post span:last-child {
  font-size: small;
  color: #ffb02e;
}

.new {
  width: 20px;
  height: 20px;
  background-color: tomato;
  color: white;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-size: small;
  animation: blink-effect 1.5s step-end infinite;
  opacity: 0.9;
}

@keyframes blink-effect {
  50% {
    opacity: 0.6;
  }
}

i {
  margin: 0 2px;
  opacity: 0.7;
}

/*------------------------------*/

.write_container {
  display: flex;
  flex: 2;
  height: fit-content;
  padding: 0 2%;
  justify-content: flex-start;
}

.writeBox {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 70%;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 5%;
}

.writePost input,
textarea {
  border: none;
  outline: none;
  font-size: medium;
  padding-left: 2%;
}

.writePost input,
textarea::placeholder {
  box-sizing: border-box;
  font-size: medium;
}

.writePost input {
  width: 100%;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  padding-bottom: 3%;
}

.writePost textarea {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  resize: none;
  min-height: 300px;
  padding-top: 4%;
  box-sizing: border-box;
}

.writeBox_btns {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.writeBox_btns input {
  width: 15%;
  background-color: #ffb02e;
  color: white;
  border: none;
  height: 50px;
  border-radius: 25px;
  font-weight: 900;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.writeBox_btns input:first-child {
  background-color: #f9f5ea;
  color: #ffb02e;
  margin-right: 3%;
}

/*------------------------------*/

.guests_container {
  display: flex;
  flex: 2;
  height: fit-content;
  padding: 0 2%;
  justify-content: flex-start;
}

.guests {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 70%;
  min-height: 400px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 3%;
}

.js-postForm {
  background-color: #f9f5ea;
  border-radius: 25px;
  padding: 3%;
  display: flex;
  width: 100%;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-bottom: 2%;
}

.js-postForm input {
  background: none;
  border: none;
  outline: none;
  width: 90%;
  padding-left: 2%;
  font-weight: bold;
  opacity: 0.7;
  text-align: center;
}

.js-postList {
  padding-inline-start: 0;
  margin: 3%;
}

.js-postList li {
  list-style: none;
  padding-bottom: 2%;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  margin-bottom: 3%;
  padding-left: 3%;
  font-size: small;
  opacity: 0.8;
}
