footer {
  background-color: #495057;
  color: #fff;
  padding: 1rem 0;
}

footer .footer-container {
  width: 1024px;
  margin: 0 auto;
}

footer .footer-container .footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

footer .footer-container .footer-top .footer-logo {
  width: 130px;
  height: 37px;
  background-image: url(img/logo.png);
  background-size: 130px 37px;
}

footer .footer-container .footer-top .footer-list {
  list-style-type: none;
}

footer .footer-container .footer-top .footer-list .footer-list-item {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

footer .footer-container .footer-top .footer-list .footer-list-item a {
  color: #adb5bd;
  text-decoration: none;
}

footer .footer-container .footer-top .footer-list .footer-list-item a:hover {
  text-decoration: underline;
}

footer
  .footer-container
  .footer-top
  .footer-list
  .footer-list-item
  .link-highlight {
  color: #fff;
  font-weight: 700;
}

footer .footer-container #copyright {
  color: #adb5bd;
  margin-top: 3.2rem;
}

footer .footer-container #copyright .copyright-list {
  list-style-type: none;
  margin-bottom: 0.4rem;
}

footer .footer-container #copyright .copyright-list .copyright-list-item {
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 0.8rem 0 0;
}

footer
  .footer-container
  #copyright
  .copyright-list
  .copyright-list-item
  address {
  font-style: normal;
}

footer .footer-container #copyright .copyright-list .copyright-list-item a {
  text-decoration: none;
  color: #868e96;
}

footer
  .footer-container
  #copyright
  .copyright-list
  .copyright-list-item
  a:hover {
  text-decoration: underline;
}

footer .footer-container #copyright .copyright-list-light {
  margin-top: 1.6rem;
  color: #868e96;
}

footer .footer-container #copyright .copyright-text {
  font-size: 1.4rem;
  margin: 0.4rem 0;
  color: #868e96;
}

footer .footer-container #social {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

footer .footer-container #social .social-list {
  list-style-type: none;
}

footer .footer-container #social .social-list .social-list-item {
  display: inline-block;
  margin: 0px;
  margin-right: 2.4rem;
}

footer
  .footer-container
  #social
  .social-list
  .social-list-item
  .footer-social-link {
  display: block;
}

footer .footer-container #social .social-list .social-list-item:last-child {
  margin-right: 0;
}

footer .footer-container #social .social-list .global-links {
  padding-left: 26px;
  display: inline-block;
  margin: 0px;
}

footer .footer-container #social .social-list .global-links select {
  margin-left: 6px;
  text-decoration: underline;
  text-underline-position: under;
  vertical-align: top;
  background: #495057;
  color: #adb5bd;
  font-size: 16px;
  line-height: 24px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-appearance: none;
}

body.global footer {
  border-top: 1px solid #dcdee3;
  background-color: #ffffff;
  font-size: 14px;
  color: #212124;
}

body.global footer .links {
  display: flex;
  justify-content: space-between;
}

body.global footer a {
  text-decoration: none;
  color: #212124;
}

body.global footer a:hover {
  opacity: 0.64;
}

body.global footer ul > li {
  display: inline-block;
  margin-right: 48px;
}

body.global footer .copyright-text {
  margin-top: 33px;
  color: #adb1ba;
  font-size: 12px;
}

body.global footer .social-link {
  vertical-align: middle;
  margin-left: 30px;
}
