footer {
  background-color: #3a3a3a;
  display: block;
  width: 100%;
  position: absolute;
  margin: 20px auto 20px auto;
  font-size: 13px;
  justify-content: space-between;
  padding: 2% 0;
}

.footer-main {
  justify-content: center;
  padding-left: 15em;
}

.copyright-list {
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.8rem 0 0;
  font-style: normal;
}

footer ul > li {
  display: inline-block;
  margin-right: 48px;
}

#copyright {
  color: #868e96;
  margin: 0 0.8rem 0 0;
}

.copyright-text {
  margin-top: 33px;
  color: #adb1ba;
  font-size: 15px;
  padding-left: 3em;
}
