<html>
<head>
    <title>
        soldout product
    </title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/input.css')}}">

</head>
<body>
    <article>
        <ul class="icon">
            <div>
             <li>
                <form action="/edit" method="POST">
                    <input type="image" style="width: 25px;" src="{{url_for('static', filename='image/delete.png')}}" value="" name="">
                </form>
            </li>
            <li>
                <form action="/quit">
                    <input type="image" src="{{url_for('static', filename='image/quitChat.png')}}" value="" name="">
                </form>
            </li>
            <li>
                <form action="/notifyer">
                    <input type="image" src="{{url_for('static', filename='image/chat.png')}}" value="" name="">
                </form>
            </li>
        </div>
    </ul>
    <form id="option2" action="/info2" method="POST" >
        <input class="search" name="urlNewB" type="text" placeholder="뉴발런스 제품 URL을 입력하세요">&nbsp;
        <input type ="submit" value="등록">
        <div style="padding: 20px;">
            <img style="width:350px; height: 250px;" src = "{{parsed_page['itemImg']}}" onError="this.style.visibility='hidden'">
            <p>제품명 : {{parsed_page['itemName']}}</p>
            <p>재고유무 : {{parsed_page['itemStock']}}</p>
            <section>
                <div>
                    <p class="title">함께하면 좋은 상품 & 추천코디</p>
                </div>
                <div class="section">
                    {% for image in parsed_page['itemCodyImgLst'] %}
                    <span>
                        <img class="Simg" src = "{{image}}">
                    </span>
                    {% endfor %}
                </div>
            </section>
        </div>
    </form>
</article>
</body>
</html>
