*{
    color:rgb(255, 251, 235);
    text-shadow: none;
}

#title{
    font-size:60px;
    padding-bottom: 0;
}

#MyRecordItems{
    list-style:none;
}

#MyRecordItems li{
    width: 90%;
    text-align: center;
    background-color: thistle;
    border-radius: 2em;
    padding: 10px 0;
    margin-bottom: 10px;
    color: black;
}

#list{
    margin:0;
    background: url("k.jpg");
    background-size:cover;
}

#arc_main{
    padding:3% 15%;
}

#backBtn{
    padding-top:20px;
    float: left;
    text-align: left;
    background-color: transparent; 
    border: none; 
    box-shadow: none;
}