<html>
    <head> 
        <title>
            soldout product
        </title>
    </head>
    <body>
        <form action="/info" method="POST" >
            <p>나이키 제품 URL 입력  
            <input name="urlNike" type="text" size="50"></p>
            <input type ="submit" style="WIDTH: 100pt; HEIGHT: 30pt" name="submit" value="등록">
        </form>
        <form action="/info" method="POST" >
            <p>뉴발런스 제품 URL 입력  
            <input name="urlNewB" type="text" size="50"></p>
            <input type ="submit" style="WIDTH: 100pt; HEIGHT: 30pt" name="submit" value="등록">
        </form>
        <form action="/info" method="POST" >
            <p>반스 제품 URL 입력  
            <input name="urlVans" type="text" size="50"></p>
            <input type ="submit" style="WIDTH: 100pt; HEIGHT: 30pt" name="submit" value="등록">
        </form>
        <form action="/notifyer" method="GET">
            <input type="submit" style="WIDTH: 100pt; HEIGHT: 30pt" value="알림실행">
          </form>
    </body>
</html>
